<footer>
  <div class="footer-contatos">
    <div class="contato">
      <img src="./src/images/contatos/telefone-icon.svg">
      <p>(11) 4774-4700</p>
    </div>
    <div class="contato">
      <img src="./src/images/contatos/email-icon.svg">
      <p>lionschool@gmail.com</p>
    </div>
    <div class="contato">
      <img src="./src/images/contatos/local-icon.svg">
      <p>Rua tcc, 211, Centro, Jandira</p>
    </div>
  </div>
  <p>Copyright © 2026 | Nathan da Silva Costa</p>
  <div class="footer-redes">
    <div class="rede">
      <img src="./src/images/redes/youtube-icon.svg">
    </div>
    <div class="rede">
      <img src="./src/images/redes/twitter-icon.svg">
    </div>
    <div class="rede">
      <img src="./src/images/redes/instagram-icon.svg">
    </div>
    <div class="rede">
      <img src="./src/images/redes/facebook-icon.svg">
    </div>
  </div>
</footer>